//- .container
//-     !=messages('message',locals)
//-     if errors
//-       each error, i in errors
//-         div(class="alert alert-danger") #{error.msg} 

footer 
    hr
    p &copy; 2020 Mirzaliev O.
script(src='../javascripts/jquery-3.3.1.min.js')
script(src='../javascripts/main.js')