-var bg="bg-transparent"
-var page="dashboard"
include header
body.bir
  .container5
    include navbar
    h2.mx-auto Connect on MusicHour
    h3.mx-auto(style="") Discover, stream, and share a constantly expanding mix of music from emerging and major artists around the world. Have fun and enjoy the use of our website.
    .container6
      button.btn.btn-warning.ikki Sign up for free
  br
  br

  ul.app
      each music, i in musics
        li.card
          a(href="music/" + music._id)=music.name
  include footer