extends layout

block content
    h1.mb-3= title
    ul.list-group
      li.list-group-item nomi #{musics.name}
      li.list-group-item qo'shiqchi #{musics.singer}
      li.list-group-item comment #{musics.comment}