include header
-var bg="bg-1"
-var page="register"
body.ad_bg
  include navbar
  .wrapper1
      .inner
        .image-holder
          img(src='../images/registration-form-4.jpg' alt='')
        form(method="POST",action='/registr')
          h3 Sign Up
          .form-holder.active
            input#name.form-control(type='text' name="name" placeholder='name')
          .form-holder
            input#username.form-control(type='text' name="username" placeholder='username')
          .form-holder
            input#email.form-control(type='text' name="email" placeholder='e-mail')
          .form-holder
            input#password.form-control(type='password' name="password" placeholder='Password' style='font-size: 15px;')
          .form-holder
            input#password2.form-control(type='password' name="password2" placeholder='Confirm Password' style='font-size: 15px;')
          .checkbox
            label
              input(type='checkbox' checked='')
              |  I agree all statement in 
              a(href='#' style="font-size: small") Terms & Conditions
              span.checkmark
          .form-login
            button(type='submit') Sign up
            p
              | Already Have account? 
              a(href='/login' style="font-size: small") Login    

              
  include footer