body {
  padding: 50px 50px 5px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.bir {
  background: url(../images/image.jpg) 0 0 / 100% 500px no-repeat;
  background-color: rgb(0, 0, 0);
}
h3,
h2 {
  width: 60%;
  padding: 25px;
  text-align: center;
  color: rgb(238, 97, 97);
}

.ikki {
  width: 30%;
  height: auto;
  margin-bottom: auto;
}
div.container6 {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  color: red;
  text-shadow: 0 0 10px black;
}
.card {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* padding: 25px; */
  margin-top: 25px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  text-align: center;
  background:white;
  overflow:hidden;
  /* background: rgba(245, 222, 179, 0.664); */
  /* border: 5px solid #2980b9; */
}
.card_img{
  border-radius: 50%;
  width: 100px;
  height: 150px;
  object-fit: cover;
  text-align: center;
}
footer {
  margin: 0;

  color: blueviolet;

  text-align: center;
}


/* registr uchun */
@font-face {
  font-family: "ElMessiri-SemiBold";
  src: url("../fonts/el_messiri/ElMessiri-SemiBold.ttf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.wrapper1 {
  font-family: "Montserrat-Regular";
  color: #999;
  font-size: 12px;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #ff9a9c;
  transition: all 0.3s ease;
}
a:hover {
  text-decoration: none;
  color: #fe4447;
}

:focus {
  outline: none;
}
/* .txt_color{
  color:#b09392; */
/* } */
.wrapper1 {
  
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url("../images/bg-registration-form-4.jpg") no-repeat;
  background-size: cover;
}

.bg-1{
  background:#ffb6b3;
}
.wrapper2 {
  
  min-height: 100vh;
  display: flex;
  align-items: center;
  /* background: url("../images/bg-registration-form-4.jpg") no-repeat; */
  background-size: cover;
}

.inner {
  max-width: 850px;
  margin: auto;
  background: #fff;
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.image-holder {
  width: 50%;
  padding-right: 15px;
}

.inner > form {
  width: 50%;
  padding-top: 35px;
  padding-right: 60px;
  padding-left: 15px;
  padding-bottom: 15px;
}

h3 {
  font-size: 35px;
  font-family: "ElMessiri-SemiBold";
  text-align: center;
  margin-bottom: 27px;
  color: #ff9a9c;
}
h4 {
  font-family: "ElMessiri-SemiBold";
  text-align: center;
  margin-bottom: 17px;
  color: #ff9a9c;
}

.form-holder {
  padding-left: 24px;
  position: relative;
}
.form-holder:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #ff9a9c;
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.form-holder.active:before {
  border: 2px solid transparent;
  background: #ff9a9c;
}
.orange{
  border: 2px solid transparent;
  background: #f8b4b5;
}
.form-control {
  display: block;
  width: 100%;
  border-radius: 23.5px;
  height: 35px;
  padding: 0 24px;
  color: #808080;
  font-size: 13px;
  border: none;
  background: #f7f7f7;
  margin-bottom: 25px;
}
.form-control::-webkit-input-placeholder {
  font-size: 13px;
  color: #808080;
  text-transform: uppercase;
  font-family: "Montserrat-Regular";
}
.form-control::-moz-placeholder {
  font-size: 13px;
  color: #808080;
  text-transform: uppercase;
  font-family: "Montserrat-Regular";
}
.form-control:-ms-input-placeholder {
  font-size: 13px;
  color: #808080;
  text-transform: uppercase;
  font-family: "Montserrat-Regular";
}
.form-control:-moz-placeholder {
  font-size: 13px;
  color: #808080;
  text-transform: uppercase;
  font-family: "Montserrat-Regular";
}

@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
button {
  letter-spacing: 2px;
  border: none;
  width: 133px;
  height: 47px;
  margin-right: 19px;
  border-radius: 23.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: #ff9a9c;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Montserrat-SemiBold";
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
button:hover {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.checkbox {
  position: relative;
  padding-left: 19px;
  margin-bottom: 37px;
  margin-left: 26px;
}
.checkbox label {
  cursor: pointer;
  color: #999;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #e7e7e7;
}
.checkmark:after {
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #ff9a9c;
  position: absolute;
  display: none;
}

.form-login {
  display: flex;
  align-items: center;
  margin-left: 23px;
}

@media (max-width: 767px) {
  .inner {
    display: block;
  }

  .image-holder {
    width: 100%;
    padding-right: 0;
  }

  form {
    width: 100%;
    padding: 0px 15px 20px;
  }

  .wrapper {
    background: none;
  }
}
/* effect-shine */
nav a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(0, 0, 0, 0.6) 30%,
    #000 50%,
    rgba(0, 0, 0, 0.6) 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

a.nav-link:hover {
  text-decoration: none;
  color: #fe4447;
}
@import url('https://fonts.googleapis.com/css?family=Numans');
.ad_bg{
  background:#fbd2d0 
}
.login_tog{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card1{
position: relative;
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}
.exit_b{
position: absolute;
right: 10px;
top: 5px;
}
/* .fa-times{
width: ;
} */
.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
